@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap');

body{
    background-color: #211f24;
    color: #decff1;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    letter-spacing: .12rem;
}